<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="full-width">
                <input
                  type="text"
                  placeholder="Company"
                  aria-label="Number"
                  matInput
                  (input)="companyTermChanged($event.target.value)"
                  [matAutocomplete]="companiesAuto"
                />
                <mat-autocomplete #companiesAuto="matAutocomplete">
                  <mat-option
                    *ngFor="let option of companies$ | async"
                    [value]="option.title"
                    (onSelectionChange)="companySelected(option)"
                  >
                    {{ option.title }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="full-width">
                <input
                  type="text"
                  placeholder="Project"
                  aria-label="Number"
                  matInput
                  (input)="projectTermChanged($event.target.value)"
                  [matAutocomplete]="projectsAuto"
                />
                <mat-autocomplete #projectsAuto="matAutocomplete">
                  <mat-option
                    *ngFor="let option of projects$ | async"
                    [value]="option.name"
                    (onSelectionChange)="projectSelected(option)"
                  >
                    {{ option.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="full-width">
                <input
                  type="text"
                  placeholder="Task"
                  aria-label="Number"
                  matInput
                  (input)="taskTermChanged($event.target.value)"
                  [matAutocomplete]="tasksAuto"
                />
                <mat-autocomplete #tasksAuto="matAutocomplete">
                  <mat-option
                    *ngFor="let option of tasks$ | async"
                    [value]="option.name"
                    (onSelectionChange)="taskSelected(option)"
                  >
                    {{ option.name }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="legacy" class="full-width">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  placeholder="hours"
                  [formControl]="hours"
                  type="number"
                />
                <mat-icon matSuffix>{{
                  hours.valid
                    ? "sentiment_very_satisfied"
                    : "sentiment_very_dissatisfied"
                }}</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="submit()">
            submit
          </button></mat-card-actions
        >
      </mat-card>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <mat-card>
        <mat-card-content>
          <table
            *ngIf="records_loading"
            mat-table
            [dataSource]="records$ | async"
            class="full-width"
          >
            <ng-container matColumnDef="projectId">
              <th mat-header-cell *matHeaderCellDef>Project</th>
              <td mat-cell *matCellDef="let record">
                {{ record.projectName }}
              </td>
            </ng-container>
            <ng-container matColumnDef="taskId">
              <th mat-header-cell *matHeaderCellDef>Task</th>
              <td mat-cell *matCellDef="let record">{{ record.taskName }}</td>
            </ng-container>
            <ng-container matColumnDef="hours">
              <th mat-header-cell *matHeaderCellDef>Hours</th>
              <td mat-cell *matCellDef="let record">{{ record.hours }}</td>
            </ng-container>
            <tr
              mat-header-row
              *matHeaderRowDef="['projectId', 'taskId', 'hours']"
            ></tr>
            <tr
              mat-row
              *matRowDef="
                let myRowData;
                columns: ['projectId', 'taskId', 'hours']
              "
            ></tr>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
