<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Company" aria-label="Number" matInput (input)="companyTermChanged($event.target.value)" [matAutocomplete]="companiesAuto" />
              <mat-autocomplete #companiesAuto="matAutocomplete">
                <mat-option *ngFor="let option of companies$ | async" [value]="option.title" (onSelectionChange)="companySelected(option)">
                  {{ option.title }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Project" aria-label="Number" matInput (input)="projectTermChanged($event.target.value)" [matAutocomplete]="projectsAuto" />
              <mat-autocomplete #projectsAuto="matAutocomplete">
                <mat-option *ngFor="let option of projects$ | async" [value]="option.name" (onSelectionChange)="projectSelected(option)">
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input type="text" placeholder="Task" aria-label="Number" matInput (input)="taskTermChanged($event.target.value)" [matAutocomplete]="tasksAuto" />
              <mat-autocomplete #tasksAuto="matAutocomplete">
                <mat-option *ngFor="let option of tasks$ | async" [value]="option.name" (onSelectionChange)="taskSelected(option)">
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
