<mat-toolbar color="primary">
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular/Firebase Task Manager</span>
  <span class="example-spacer"></span>
  <span>{{ firebaseApi.authInformation.email }}</span>
</mat-toolbar>
<mat-drawer-container class="example-container">
  <mat-drawer style="width: 200px" mode="side" #sidenav>
    <mat-divider class="divider"></mat-divider>
    <mat-action-list>
      <button mat-list-item (click)="logout()" class="pointer-cursor">
        <mat-icon>lock</mat-icon>
        <h3 matLine>logout</h3>
      </button>
    </mat-action-list>
  </mat-drawer>
  <mat-drawer-content>
    <ng-content></ng-content>
  </mat-drawer-content>
</mat-drawer-container>
