<div class="container" style="margin-top: 200px">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-title> Login </mat-card-title>
        <mat-card-content>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="legacy" class="full-width">
                <mat-label>Email Address</mat-label>
                <input
                  matInput
                  placeholder="your email address"
                  [formControl]="email"
                />
                <mat-icon matSuffix>{{
                  email.valid
                    ? "sentiment_very_satisfied"
                    : "sentiment_very_dissatisfied"
                }}</mat-icon>
                <mat-hint>enter test@mail.com</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="legacy" class="full-width">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  placeholder="your password"
                  [formControl]="password"
                  type="password"
                />
                <mat-icon matSuffix>{{
                  password.valid
                    ? "sentiment_very_satisfied"
                    : "sentiment_very_dissatisfied"
                }}</mat-icon>
                <mat-hint>enter testpassword</mat-hint>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            (click)="login()"
            [disabled]="!email.valid || !password.valid"
          >
            login
          </button>
          <mat-progress-bar
            *ngIf="loginRequesting"
            style="margin-top: 10px"
            mode="indeterminate"
          ></mat-progress-bar>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
