/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width {
  width: 100%;
}
.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: 100%;
  height: calc(100vh - 64px);
}

.pointer-cursor {
  cursor: pointer;
}
